<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>微信登录页面</title>
    <style>
        .impowerBox .qrcode {width: 200px;}
        .impowerBox .title {display: none;}
        .impowerBox .info {width: 200px;}
        .status_icon {display: none}
        .impowerBox .status {text-align: center;}
    </style>
    <script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
</head>
<body>
<div id="obj" style="text-align: center">

</div>
</body>
<script>
    var obj = new WxLogin({
        self_redirect:false,//true将页面跳转放在ifream里面   false直接跳转到要跳转的页面
        id:"obj",
        appid: "wx0c05ce174cd624b7",
        scope: "snsapi_login",
        redirect_uri: "http%3a%2f%2fwww.niezhiliang.com%2fcallback",
        state: "",
        style: "",
        href: ""
    });
</script>
</html>